{% extends 'base.html' %}
{% block body %}
<form id="login" method="POST">
    {% csrf_token %}
    <h2>Register Page</h2>
    <div class="login">
        <center><label class="text-danger"><h5>{{ msg }}</h5></label></center>
        <div>
            <label for="firstname"><b>Firstname</b></label><br>
            <input type="text" name="firstname" required="required" id="firstname" placeholder="Firstname"/>
        </div><br>
        <div>
            <label for="lastname"><b>Lastname</b></label><br>
            <input type="text" name="lastname" id="lastname" required="required" placeholder="Lastname"/>
        </div><br>
        <div>
            <label for="email"><b>Email</b></label><br>
            <input type="email" name="email" id="email" required="required" placeholder="Email"/>
        </div><br>
        <div>
            <label for="password"><b>Password</b></label><br>
            <input type="password" name="password" id="password" required="required" placeholder="Password"/>
        </div><br>
        <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
        <div>
            <div>
                <button type="submit" id="log"><b>Register Here</b></button>
                <a href="/login">Sign In</a><br><br>
            </div>
        </div>
    </div>
</form>
{% endblock %}
