{% extends 'base.html' %}
{% block body %}
<form method="POST" id="login" action="/home/">
    {% csrf_token %}
    <h2>Login Page</h2>
    <div class="login">
        <center><label class="text-danger"><h5>{{ msg }}</h5></label></center>
        <div>
            <label for="email"><b>Email</b></label><br>
            <input type="email" name="email" required="required" id="email" placeholder="Email"/>
        </div><br>
        <div>
            <label for="password"><b>Password</b></label><br>
            <input type="password" name="password" id="password" required="required" placeholder="Password"/>
        <br><br>
        </div>
        <div>
            <input type="checkbox" id="check"/>
            <span>Remember me</span>
         </div
        <br><br>
        <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
        <div>
            <button type="submit" id="log">Log In Here</button>
            <a href="/"><u>Sign Up</u></a><br><br>
        </div>
    </div>
</form>
 
{% endblock %}